<div class="row">
    <div class="col-md-12">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'settings.email.email_templates' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="search-form-field" color="primary" appearance="outline">
                                <mat-label>{{ 'settings.email.template' | translate }}</mat-label>
                                <mat-select placeholder="{{ 'settings.email.template' | translate }}"
                                            formControlName="template" #templateSelect
                                            (selectionChange)="onTemplateItemChange(templateSelect.value)">
                                    <mat-option *ngFor="let template of templates" [value]="template.id">
                                        {{ 'settings.email.event.' + template.display_name | translate }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>{{ 'settings.email.subject' | translate }}</mat-label>
                                <input matInput formControlName="subject"
                                       placeholder="{{ 'settings.email.subject' | translate }}">
                                <mat-error align="start" *ngIf="formErrors?.subject"
                                           class="form__error">{{ formErrors.subject }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ng-container>{{ 'settings.email.body' | translate }}</ng-container>
                            <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>{{ 'settings.email.tags' | translate }}</mat-label>
                                <textarea formControlName="tags" matInput
                                          placeholder="{{ 'settings.email.tags' | translate }}" maxlength="150"
                                          rows="3"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center spinner-container" *ngIf="loader">
                        <mat-progress-bar
                                color="green"
                                mode="query"
                                value=50
                                bufferValue=75>
                        </mat-progress-bar>
                        <br/>
                    </div>
                    <div class="additional-info" align="center">
                        <button mat-raised-button type="submit" class="btn pull-right" color="accent"
                                (click)="update()"
                                [disabled]="!form.valid || loader">{{ 'settings.email.update_email_settings' | translate }}</button>
                    </div>
                </form>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'settings.email.sms_templates' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="smsForm">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>{{ 'settings.email.name' | translate }}</mat-label>
                                <input matInput formControlName="name"
                                       placeholder="{{ 'settings.email.name' | translate }}">
                                <mat-error align="start" *ngIf="formErrors?.name"
                                           class="form__error">{{ formErrors.name }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="search-form-field" color="primary" appearance="outline">
                                <mat-label>{{ 'settings.email.template' | translate }}</mat-label>
                                <mat-select placeholder="{{ 'settings.email.template' | translate }}"
                                            formControlName="template"
                                            #smsTemplateSelect
                                            (selectionChange)="onSMSTemplateItemChange(smsTemplateSelect.value)">
                                    <mat-option *ngFor="let template of smsTemplates" [value]="template.id">
                                        {{ 'settings.email.event.' + template.display_name | translate }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>{{ 'settings.email.sms_body' | translate }}</mat-label>
                                <textarea formControlName="body" matInput #body
                                          placeholder="{{ 'settings.email.sms_body' | translate }}" maxlength="150"
                                          rows="3"></textarea>
                                <mat-error align="start" *ngIf="formErrors?.body"
                                           class="form__error">{{ formErrors.body }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>{{ 'settings.email.tags' | translate }}</mat-label>
                                <textarea formControlName="tags" matInput
                                          placeholder="{{ 'settings.email.tags' | translate }}" maxlength="150"
                                          rows="3"></textarea>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="d-flex justify-content-center spinner-container" *ngIf="loader">
                        <mat-progress-bar
                                color="green"
                                mode="query"
                                value=50
                                bufferValue=75>
                        </mat-progress-bar>
                        <br/>
                    </div>

                    <div class="additional-info" align="center">
                        <button mat-raised-button type="submit" class="btn pull-right" color="accent"
                                (click)="updateSms()" [disabled]="!smsForm.valid || loader">
                            {{ 'settings.email.update_sms_settings' | translate }}
                        </button>
                    </div>

                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
