<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'utilities.fields.property' | translate }}</mat-label>
                            <input matInput disabled value="{{(readingData$|async)?.property?.property_name}}
                             ({{(readingData$|async)?.unit?.unit_name}})">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'utilities.fields.property_code' | translate }}</mat-label>
                            <input matInput disabled value="{{(readingData$|async)?.property?.property_code}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'utilities.fields.location' | translate }}</mat-label>
                            <input matInput disabled value="{{(readingData$|async)?.property?.location}}">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                        <mat-label>{{ 'utilities.fields.utility' | translate }}</mat-label>
                            <input matInput disabled value="{{(readingData$|async)?.utility?.utility_display_name}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'utilities.fields.reading_date' | translate }}</mat-label>
                            <input matInput disabled value="{{(readingData$|async)?.reading_date}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'utilities.fields.current_reading' | translate }}</mat-label>
                            <input matInput disabled value="{{(readingData$|async)?.current_reading}}">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
