<h5 mat-dialog-title *ngIf="isAdd">{{ 'settings.users.user.new' | translate }}
    <ng-container *ngIf="formError$ | async">
        <mat-icon color="warn">error_outline</mat-icon>
    </ng-container>
</h5>
<h5 mat-dialog-title *ngIf="!isAdd">{{ 'settings.users.user.edit' | translate }}
    <ng-container *ngIf="formError$ | async">
        <mat-icon color="warn">error_outline</mat-icon>
    </ng-container>
</h5>

<mat-dialog-content class="mat-dialog-data" [formGroup]="form">

    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.users.user.role' | translate }}</mat-label>
                <mat-select placeholder="{{ 'settings.users.user.role' | translate }}" formControlName="role_id">
                    <mat-option *ngFor="let role of roles" [value]="role.id">
                        {{role.name}}
                    </mat-option>
                </mat-select>
                <mat-error align="start" *ngIf="formErrors?.role_id" class="form__error">{{ formErrors.role_id }}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.users.user.first_name' | translate }}</mat-label>
                <input matInput formControlName="first_name" placeholder="{{ 'settings.users.user.first_name' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.first_name" class="form__error">{{ formErrors.first_name }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.users.user.middle_name' | translate }}</mat-label>
                <input matInput formControlName="middle_name" placeholder="{{ 'settings.users.user.middle_name' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.middle_name" class="form__error">{{ formErrors.middle_name }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.users.user.last_name' | translate }}</mat-label>
                <input matInput formControlName="last_name" placeholder="{{ 'settings.users.user.last_name' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.last_name" class="form__error">{{ formErrors.last_name }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.users.user.email' | translate }}</mat-label>
                <input matInput formControlName="email" placeholder="{{ 'settings.users.user.email' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.email" class="form__error">{{ formErrors.email }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="!isAdd">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.users.user.current_password' | translate }}</mat-label>
                <input matInput formControlName="current_password" type="password" placeholder="{{ 'settings.users.user.current_password' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.current_password" class="form__error">{{ formErrors.current_password }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.users.user.password' | translate }}</mat-label>
                <input matInput formControlName="password" type="password" placeholder="{{ 'settings.users.user.password' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.password" class="form__error">{{ formErrors.password }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.users.user.password_confirmation' | translate }}</mat-label>
                <input matInput formControlName="password_confirmation" type="password" placeholder="{{ 'settings.users.user.password_confirmation' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.password_confirmation" class="form__error">{{ formErrors.password_confirmation }}</mat-error>
            </mat-form-field>
        </div>
    </div>

</mat-dialog-content>

<div class="d-flex justify-content-center spinner-container" *ngIf="loader">
    <mat-progress-bar
            color="green"
            mode="query"
            value=50
            bufferValue=75>
    </mat-progress-bar>
</div>

<mat-dialog-actions align="center">
    <button [disabled]="loader" mat-button class="mr-2" color="accent" [mat-dialog-close]="true" (click)="close()">
        {{ 'cancel' | translate }}
    </button>
    <button mat-raised-button  color="primary" (click)="createOrUpdate()" [disabled]="!form.valid || loader">
        {{ 'save' | translate }}
    </button>
</mat-dialog-actions>
