<div class="main-content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{ 'robi.tasks.title' | translate }}</h4>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card">
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons text-success">people</i> {{ 'robi.landlords.total' | translate }} (12)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card">
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons text-success">people</i> {{ 'robi.landlords.active' | translate }} (10)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card">
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">people</i> {{ 'robi.landlords.inactive' | translate }} (2)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card">
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons text-warning">power</i> {{ 'robi.landlords.logged_in' | translate }} {{ 'robi.landlords.today' | translate }} (1)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row search-form-section">

                            <div class="col-5">
                                <button [disabled]="(dataSource?.loading$ | async)" mat-button matPrefix mat-stroked-button aria-label="add new"
                                        (click)="addDialog('add')">
                                    <mat-icon>add</mat-icon>Add Task
                                </button>
                            </div>

                            <div class="col-7">
                                <mat-form-field class="search-form-field">
                                    <input matInput #search placeholder="{{ 'robi.landlords.filter' | translate }}" autocomplete="off" [disabled]="meta?.total===0">
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="search.value" (click)="clearSearch()">
                                        <mat-icon>close</mat-icon></button>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="table-responsive">

                            <mat-table #table [dataSource]="dataSource" matSort matSortActive="first_name" matSortDirection="desc"
                                       matSortDisableClear>

                                <ng-container matColumnDef="first_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.first_name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="last_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.last_name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                                </ng-container>

                         <!--       <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> Actions  </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="button-row">
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item matTooltip="Edit Expense." [matTooltipPosition]="'above'" (click)="editDialog(row)">
                                                <mat-icon color="primary">edit</mat-icon>
                                                <span>Edit</span>
                                            </button>
                                            <button mat-menu-item matTooltip="Delete Expense." [matTooltipPosition]="'above'" (click)="openConfirmationDialog(row)">
                                                <mat-icon color="warn">delete</mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                    </mat-cell>
                                </ng-container>-->

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="{{row.id}}" (click)="onSelected(row)"> </mat-row>

                            </mat-table>
                            <span *ngIf="meta?.total===0">No Data</span>

                        <!--    <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSource?.loading$ | async) || loader">
                                <mat-spinner [diameter]="40"></mat-spinner>
                            </div>-->

                            <div class="d-flex justify-content-center spinner-container" *ngIf="(dataSource?.loading$ | async) || loader">
                                <mat-progress-bar
                                        color="green"
                                        mode="query"
                                        value=50
                                        bufferValue=75>
                                </mat-progress-bar>
                            </div>

                            <mat-paginator #pagination
                                           [length]="meta?.total"
                                           [pageIndex]="pageIndex"
                                           [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>
                </div>
            </div>

        </div>



  <!--      <div class="row">

            <div class="fab-container">
                <button mat-fab class="fab-toggler" (click)="addDialog('add')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"> {{ 'robi.landlords.title' | translate }} </h4>
                    </div>
                    <div class="card-body">


                        <div class="row align-items-end">
                            <div *ngFor="let landlord of landlords$ | async;" class="col-md-6 col-lg-4">
                                <div class="card card-lift&#45;&#45;hover shadow border-0 card-profile">


                                    <div class="front">
                                        <div class="cover">
                                            <img class="img" src="../../assets/img/images/rotating_card_thumb3.png"/>
                                        </div>
                                        <div class="card-avatar">
                                            <img [src]="landlord.profile_pic"/>
                                            &lt;!&ndash;<img class="img" src="../../assets/img/images/2.jpg"/>&ndash;&gt;

                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">
                                                    <a [routerLink]="landlord.id" (click)="onSelected(landlord)">
                                                        {{landlord.first_name}} {{landlord.last_name}}
                                                    </a>

                                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                                        <mat-icon>more_vert</mat-icon>
                                                    </button>
                                                    <mat-menu #menu="matMenu">
                                                        <button mat-menu-item routerLink="{{landlord.id}}" (click)="onSelected(landlord)">
                                                            <mat-icon color="primary">visibility</mat-icon>
                                                            <span>{{ 'robi.landlords.view' | translate }}</span>
                                                        </button>
                                                        <button mat-menu-item (click)="addDialog('edit', landlord)">
                                                            <mat-icon color="primary">edit</mat-icon>
                                                            <span>{{ 'robi.landlords.edit' | translate }}</span>
                                                        </button>
                                                        <button mat-menu-item (click)="openConfirmationDialog(landlord)">
                                                            <mat-icon color="warn">delete</mat-icon>
                                                            <span>{{ 'robi.landlords.delete' | translate }}</span>
                                                        </button>
                                                    </mat-menu>
                                                </h3>
                                                <p class="profession">
                                                    <button mat-stroked-button disabled>
                                                        <mat-icon color="accent">phone</mat-icon>
                                                        <span>{{landlord?.phone}}</span>
                                                    </button>
                                                </p>

                                                <div class="text-center">
                                                    <span class="badge badge-pill badge-success mr-2">
                                                        {{ 'robi.landlords.properties' | translate }} (10)
                                                    </span>
                                                    <span class="badge badge-pill badge-success mr-2">
                                                        {{ 'robi.landlords.units' | translate }} (315)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="footer">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <ng-container *ngIf="meta$ | async as meta">

                        <button *ngIf="showLoadMoreButton(meta.current_page, meta.last_page)" [disabled]="loading$ | async" mat-raised-button
                                class="justify-content-center" color="accent" (click)="filter(meta.current_page)">
                            <ng-container *ngIf="!(loading$ | async)">{{ 'robi.landlords.load_more' | translate }} {{meta.current_page}} of {{meta.last_page}}</ng-container>
                            <ng-container *ngIf="loading$ | async">{{ 'robi.landlords.loading' | translate }} ...</ng-container>
                            <mat-icon><mat-spinner color="primary" diameter="20" *ngIf="loading$ | async"></mat-spinner></mat-icon>
                        </button>
                    </ng-container>
                    <div class="d-flex justify-content-center spinner-container" *ngIf="loading$ | async">
                        <mat-progress-bar
                                color=primary
                                mode="indeterminate"
                                value=20
                                bufferValue=150>
                        </mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>-->


    </div>
</div>
