<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title" *ngIf="isAdd">{{ 'tenants.add.title' | translate }}
                            <ng-container *ngIf="formError$ | async">
                                <mat-icon color="warn">error_outline</mat-icon>
                            </ng-container>
                        </h4>
                        <h4 class="card-title" *ngIf="!isAdd">{{ 'tenants.edit.title' | translate }}
                            <ng-container *ngIf="formError$ | async">
                                <mat-icon color="warn">error_outline</mat-icon>
                            </ng-container>
                        </h4>
                    </div>

                    <div class="card-body">
                        <mat-vertical-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="personalFormGroup">
                                <form [formGroup]="personalFormGroup">
                                    <ng-template
                                            matStepLabel>{{ 'tenants.details.tenant_info' | translate }}</ng-template>
                                    <ng-container>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.tenant_type' | translate }}</mat-label>
                                                    <mat-select
                                                            placeholder="{{ 'tenants.field.tenant_type' | translate }}"
                                                            formControlName="tenant_type_id">
                                                        <mat-option *ngFor="let tenantType of tenantTypes$ | async"
                                                                    [value]="tenantType.id">
                                                            {{tenantType.tenant_type_display_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.tenant_type_id"
                                                               class="form__error">{{ formErrors.tenant_type_id }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.first_name' | translate }}</mat-label>
                                                    <input matInput formControlName="first_name"
                                                           placeholder="{{ 'tenants.field.first_name' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.first_name"
                                                               class="form__error">{{ formErrors.first_name }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.middle_name' | translate }}</mat-label>
                                                    <input matInput formControlName="middle_name"
                                                           placeholder="{{ 'tenants.field.middle_name' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.middle_name"
                                                               class="form__error">{{ formErrors.middle_name }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.last_name' | translate }}</mat-label>
                                                    <input matInput formControlName="last_name" placeholder="{{ 'tenants.field.last_name' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.last_name"
                                                               class="form__error">{{ formErrors.last_name }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.gender' | translate }}</mat-label>
                                                    <mat-select formControlName="gender">
                                                        <mat-option *ngFor="let gender of gender" [value]="gender.key">
                                                            {{gender.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.gender"
                                                               class="form__error">{{ formErrors.gender }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.date_of_birth' | translate }}</mat-label>
                                                    <input matInput (click)="date_of_birth.open()"
                                                           [matDatepicker]="date_of_birth"
                                                           formControlName="date_of_birth" placeholder="{{ 'tenants.field.date_of_birth' | translate }}">
                                                    <mat-datepicker-toggle matSuffix
                                                                           [for]="date_of_birth"></mat-datepicker-toggle>
                                                    <mat-datepicker touchUi #date_of_birth></mat-datepicker>
                                                    <mat-error align="start" *ngIf="formErrors?.date_of_birth"
                                                               class="form__error">{{ formErrors.date_of_birth }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.id_passport_number' | translate }}</mat-label>
                                                    <input matInput formControlName="id_passport_number"
                                                           placeholder="{{ 'tenants.field.id_passport_number' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.id_passport_number"
                                                               class="form__error">{{ formErrors.id_passport_number }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.marital_status' | translate }}</mat-label>
                                                    <input matInput formControlName="marital_status"
                                                           placeholder="{{ 'tenants.field.marital_status' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.marital_status"
                                                               class="form__error">{{ formErrors.marital_status }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.phone' | translate }}</mat-label>
                                                    <input matInput formControlName="phone" placeholder="{{ 'tenants.field.phone' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.phone"
                                                               class="form__error">{{ formErrors.phone }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.email' | translate }}</mat-label>
                                                    <input matInput formControlName="email" placeholder="{{ 'tenants.field.email' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.email"
                                                               class="form__error">{{ formErrors.email }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.country' | translate }}</mat-label>
                                                    <input matInput formControlName="country" placeholder="{{ 'tenants.field.country' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.country"
                                                               class="form__error">{{ formErrors.country }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.city' | translate }}</mat-label>
                                                    <input matInput formControlName="city" placeholder="{{ 'tenants.field.city' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.city"
                                                               class="form__error">{{ formErrors.city }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.postal_code' | translate }}</mat-label>
                                                    <input matInput formControlName="postal_code"
                                                           placeholder="{{ 'tenants.field.postal_code' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.postal_code"
                                                               class="form__error">{{ formErrors.postal_code }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.postal_address' | translate }}</mat-label>
                                                    <input matInput formControlName="postal_address"
                                                           placeholder="{{ 'tenants.field.postal_address' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.postal_address"
                                                               class="form__error">{{ formErrors.postal_address }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.physical_address' | translate }}</mat-label>
                                                    <input matInput formControlName="physical_address"
                                                           placeholder="{{ 'tenants.field.physical_address' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.physical_address"
                                                               class="form__error">{{ formErrors.physical_address }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.password' | translate }}</mat-label>
                                                    <input matInput formControlName="password" type="password"
                                                           placeholder="{{ 'tenants.field.password' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.password"
                                                               class="form__error">{{ formErrors.password }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label>{{ 'tenants.field.confirm_password' | translate }}</mat-label>
                                                    <input matInput formControlName="password_confirmation"
                                                           type="password" placeholder="{{ 'tenants.field.confirm_password' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.password_confirmation"
                                                               class="form__error">{{ formErrors.password_confirmation }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div>
                                        <button class="mat-raised-button" color="accent" mat-button matStepperNext
                                                type="button">
                                            <span>{{ 'next' | translate }}</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>

                                </form>
                            </mat-step>
                            <mat-step [stepControl]="nextOfKinFormGroup">
                                <form [formGroup]="nextOfKinFormGroup">
                                    <ng-template matStepLabel>{{ 'tenants.details.kin_relation' | translate }}</ng-template>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.next_of_kin_name' | translate }}</mat-label>
                                                <input matInput formControlName="next_of_kin_name"
                                                       placeholder="{{ 'tenants.field.next_of_kin_name' | translate }}e">
                                                <mat-error align="start" *ngIf="formErrors?.next_of_kin_name"
                                                           class="form__error">{{ formErrors.next_of_kin_name }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.next_of_kin_phone' | translate }}</mat-label>
                                                <input matInput formControlName="next_of_kin_phone"
                                                       placeholder="{{ 'tenants.field.next_of_kin_phone' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.next_of_kin_phone"
                                                           class="form__error">{{ formErrors.next_of_kin_phone }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.next_of_kin_relation' | translate }}</mat-label>
                                                <input matInput formControlName="next_of_kin_relation"
                                                       placeholder="{{ 'tenants.field.next_of_kin_relation' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.next_of_kin_relation"
                                                           class="form__error">{{ formErrors.next_of_kin_relation }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.emergency_name' | translate }}</mat-label>
                                                <input matInput formControlName="emergency_contact_name"
                                                       placeholder="{{ 'tenants.field.emergency_name' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.emergency_contact_name"
                                                           class="form__error">{{ formErrors.emergency_contact_name }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.emergency_phone' | translate }}</mat-label>
                                                <input matInput formControlName="emergency_contact_phone"
                                                       placeholder="{{ 'tenants.field.emergency_phone' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.emergency_contact_phone"
                                                           class="form__error">{{ formErrors.emergency_contact_phone }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.emergency_email' | translate }}</mat-label>
                                                <input matInput formControlName="emergency_contact_email"
                                                       placeholder="{{ 'tenants.field.emergency_email' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.emergency_contact_email"
                                                           class="form__error">{{ formErrors.emergency_contact_email }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.emergency_relation' | translate }}</mat-label>
                                                <input matInput formControlName="emergency_contact_relationship"
                                                       placeholder="{{ 'tenants.field.emergency_relation' | translate }}">
                                                <mat-error align="start"
                                                           *ngIf="formErrors?.emergency_contact_relationship"
                                                           class="form__error">{{ formErrors.emergency_contact_relationship }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.emergency_postal_address' | translate }}</mat-label>
                                                <input matInput formControlName="emergency_contact_phone"
                                                       placeholder="{{ 'tenants.field.emergency_postal_address' | translate }}">
                                                <mat-error align="start"
                                                           *ngIf="formErrors?.emergency_contact_postal_address"
                                                           class="form__error">{{ formErrors.emergency_contact_postal_address }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.emergency_physical_address' | translate }}</mat-label>
                                                <input matInput formControlName="emergency_contact_physical_address"
                                                       placeholder="{{ 'tenants.field.emergency_physical_address' | translate }}">
                                                <mat-error align="start"
                                                           *ngIf="formErrors?.emergency_contact_physical_address"
                                                           class="form__error">{{ formErrors.emergency_contact_physical_address }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button
                                                matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>{{ 'back' | translate }}</span>
                                        </button>
                                        <button class="mat-raised-button" color="accent" mat-button matStepperNext
                                                type="button">
                                            <span>{{ 'next' | translate }}</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="employmentFormGroup">
                                <form [formGroup]="employmentFormGroup">
                                    <ng-template matStepLabel>{{ 'tenants.details.employment' | translate }}</ng-template>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.employment_status' | translate }}</mat-label>
                                                <input matInput formControlName="employment_status"
                                                       placeholder="{{ 'tenants.field.employment_status' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.employment_status"
                                                           class="form__error">{{ formErrors.employment_status }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.employment_position' | translate }}</mat-label>
                                                <input matInput formControlName="employment_position"
                                                       placeholder="{{ 'tenants.field.employment_position' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.employment_position"
                                                           class="form__error">{{ formErrors.employment_position }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.employment_contact_phone' | translate }}</mat-label>
                                                <input matInput formControlName="employer_contact_phone"
                                                       placeholder="{{ 'tenants.field.employment_contact_phone' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.employer_contact_phone"
                                                           class="form__error">{{ formErrors.employer_contact_phone }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.employment_contact_email' | translate }}</mat-label>
                                                <input matInput formControlName="employer_contact_email"
                                                       placeholder="{{ 'tenants.field.employment_contact_email' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.employer_contact_email"
                                                           class="form__error">{{ formErrors.employer_contact_email }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.employment_postal_address' | translate }}</mat-label>
                                                <input matInput formControlName="employment_postal_address"
                                                       placeholder="{{ 'tenants.field.employment_postal_address' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.employment_postal_address"
                                                           class="form__error">{{ formErrors.employment_postal_address }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.employment_physical_address' | translate }}</mat-label>
                                                <input matInput formControlName="employment_physical_address"
                                                       placeholder="{{ 'tenants.field.employment_physical_address' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.employment_physical_address"
                                                           class="form__error">{{ formErrors.employment_physical_address }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button
                                                matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>{{ 'back' | translate }}</span>
                                        </button>
                                        <button class="mat-raised-button" color="accent" mat-button matStepperNext
                                                type="button">
                                            <span>{{ 'next' | translate }}</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step [stepControl]="businessFormGroup">
                                <form [formGroup]="businessFormGroup">
                                    <ng-template matStepLabel>{{ 'tenants.details.business_details' | translate }}</ng-template>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.business_name' | translate }}</mat-label>
                                                <input matInput formControlName="business_name"
                                                       placeholder="{{ 'tenants.field.business_name' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.business_name"
                                                           class="form__error">{{ formErrors.business_name }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.license_number' | translate }}</mat-label>
                                                <input matInput formControlName="license_number"
                                                       placeholder="{{ 'tenants.field.license_number' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.license_number"
                                                           class="form__error">{{ formErrors.license_number }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.tax_id' | translate }}</mat-label>
                                                <input matInput formControlName="tax_id" placeholder="{{ 'tenants.field.tax_id' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.tax_id"
                                                           class="form__error">{{ formErrors.tax_id }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.business_address' | translate }}</mat-label>
                                                <input matInput formControlName="business_address"
                                                       placeholder="{{ 'tenants.field.business_address' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.business_address"
                                                           class="form__error">{{ formErrors.business_address }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.business_ industry' | translate }}</mat-label>
                                                <input matInput formControlName="business_industry"
                                                       placeholder="{{ 'tenants.field.business_ industry' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.business_industry"
                                                           class="form__error">{{ formErrors.business_industry }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'tenants.field.business_description' | translate }}</mat-label>
                                                <input matInput formControlName="business_description"
                                                       placeholder="{{ 'tenants.field.business_description' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.business_description"
                                                           class="form__error">{{ formErrors.business_description }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button
                                                matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>{{ 'back' | translate }}</span>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                        </mat-vertical-stepper>

                        <div class="d-flex justify-content-center spinner-container mb-2" *ngIf="loader">
                            <mat-progress-bar
                                    color="primary"
                                    mode="query"
                                    value=50
                                    bufferValue=75>
                            </mat-progress-bar>
                        </div>
                        <ng-container *ngIf="isAdmin$ | async">
                            <button *ngIf="!isAdd" [disabled]="loader" mat-button class="mr-2" color="warn"
                                    (click)="openConfirmationDialog(tenant)">
                                <mat-icon>delete</mat-icon>
                                {{ 'delete' | translate }}
                            </button>
                        </ng-container>
                        <button class="float-right" mat-raised-button color="primary" (click)="createOrUpdate()"
                                [disabled]="!personalFormGroup.valid || loader">
                            <span>{{ 'tenants.field.save_tenant' | translate }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
