<div class="main-content">
    <div class="container-fluid" *ngIf="leaseData$ | async as lease">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="card-title">{{ 'leases.details.title' | translate }}</h4>
                                <p class="card-category">{{lease?.lease_number}}</p>
                            </div>
                            <div class="col-4 text-right" *ngIf="isAdmin$ | async">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                        *robiPermission="['edit-lease', 'delete-lease']">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button *ngIf="lease?.terminated_on == null" mat-menu-item
                                            routerLink="edit" (click)="onSelected(lease)">
                                        <mat-icon>edit</mat-icon>
                                        <span>{{ 'leases.edit.title' | translate }}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <nav mat-tab-nav-bar>
                            <a mat-tab-link routerLinkActive #general="routerLinkActive" [active]="general.isActive"
                               [routerLinkActiveOptions]="{exact: true}"
                               routerLink="/leases/{{leaseID}}">
                                <span class="nav-text">  {{ 'info' | translate }} </span></a>

                            <a mat-tab-link routerLinkActive #invoices="routerLinkActive" [active]="invoices.isActive"
                               [routerLink]="['invoices']">
                                <span class="nav-text">   {{ 'invoices.list.title' | translate }} </span></a>
                        </nav>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{ 'leases.field.summary' | translate }}</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="card-category text-gray"> {{ 'leases.field.lease' | translate }}
                            : {{lease?.lease_number}}</div>
                        <div class="card-category text-gray">
                            {{ 'leases.field.property' | translate }}: {{lease?.property?.property_name}} -
                            ({{lease?.property?.property_code}})
                        </div>
                        <div class="card-category text-gray"> {{ 'leases.field.unit' | translate }}
                            : {{lease?.unit_names}}</div>
                        <div class="card-category text-gray"> {{ 'leases.field.tenant' | translate }}
                            : {{lease?.tenant_names}}</div>
                        <div class="card-category text-gray"> {{ 'leases.field.start_date' | translate }}
                            : {{lease?.start_date}}</div>
                    </div>
                </div>
                <div class="card" *ngIf="isAdmin$ | async">
                    <ng-container *robiPermission="['terminate-lease']">
                        <button *ngIf="lease?.terminated_on == null" mat-raised-button color="warn"
                                (click)="terminateLease(lease)">
                            {{ 'leases.field.terminate_lease' | translate }} ({{lease?.lease_number}})
                        </button>
                    </ng-container>
                    <ng-container *ngIf="lease?.terminated_on != null">
                        <div class="card-header-warning">
                            <h4 class="card-title">{{ 'leases.field.terminated' | translate }}</h4>
                        </div>
                        <div class="card-body">
                            <div>{{ 'leases.field.by' | translate }}: {{lease?.terminate_user?.first_name}}</div>
                            <div>{{ 'leases.field.on' | translate }}: {{lease?.terminated_on}}</div>
                        </div>
                    </ng-container>
                </div>

                <div class="card">
                    <button mat-raised-button color="primary"
                            (click)="viewAgreement(lease)">
                        {{ 'settings.lease.contract.title' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
