<div class="d-flex justify-content-center spinner-container" *ngIf="loader">
    {{ 'reports.general_ledger.fields.statement' | translate }}
    <mat-spinner [diameter]="40"></mat-spinner>
</div>

<div class="card-header align-center small-font" *ngIf="!loader">
    <div>
        <span> {{ 'reports.statement.account_statement' | translate }} </span>
    </div>
    <div class="row col-12">
        <div class="col-12">
            <div class="row">{{ 'reports.statement.a_c_name' | translate }} {{account?.account_display_name}}</div>
            <div class="row">{{ 'reports.statement.a_c_number' | translate }} {{account?.account_number}}</div>
        </div>
    </div>
</div>

<mat-dialog-content class="mat-dialog-data">

    <div *ngIf="!loader" class="table-responsive">
      <mat-table #table [dataSource]="dataSource">

          <!-- Due Date Column -->
          <ng-container matColumnDef="date">
              <mat-header-cell class="date" *matHeaderCellDef> {{ 'reports.statement.date' | translate }} </mat-header-cell>
              <mat-cell class="date" *matCellDef="let row"> {{row.created_at}} </mat-cell>
          </ng-container>

        <!-- Payment Column -->
        <ng-container matColumnDef="narration">
            <mat-header-cell class="narration" *matHeaderCellDef> {{ 'reports.statement.narration' | translate }} </mat-header-cell>
            <mat-cell class="narration" *matCellDef="let row"> {{row.narration}} </mat-cell>
        </ng-container>

        <!-- Interest Column -->
        <ng-container matColumnDef="debit">
            <mat-header-cell *matHeaderCellDef class="money-cell"> {{ 'reports.statement.debit' | translate }} </mat-header-cell>
            <mat-cell class="money-cell" *matCellDef="let row"> {{(row.is_dr ? row.display_amount : '0.00')}} </mat-cell>
        </ng-container>

        <!-- Principal Column -->
        <ng-container matColumnDef="credit">
            <mat-header-cell class="money-cell" *matHeaderCellDef> {{ 'reports.statement.credit' | translate }} </mat-header-cell>
            <mat-cell class="money-cell" *matCellDef="let row"> {{(row.is_cr ? row.display_amount : '0.00')}} </mat-cell>
        </ng-container>

        <!-- Balance Column -->
        <ng-container matColumnDef="balance">
            <mat-header-cell class="money-cell" *matHeaderCellDef> {{ 'reports.statement.balance' | translate }} </mat-header-cell>
            <mat-cell class="money-cell" *matCellDef="let row"> {{row.balance}} </mat-cell>
        </ng-container>

          <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumns;"> </mat-row>


      </mat-table>
        <span *ngIf="dataSource.length === 0">{{ 'reports.statement.no_activity' | translate }}</span>

    </div>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button class="mat-raised-button button-separate" [mat-dialog-close]="true">Close</button>
    <ng-container *ngIf="!loader" align="right">
    </ng-container>
</mat-dialog-actions>
