<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <p class="card-category"> {{ 'settings.general.title' | translate }}</p>
            </div>
            <div class="card-body">

                <ng-container *ngIf="settings$ | async as settings">

                    <form [formGroup] = "form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                            <mat-label>{{ 'settings.general.company_name' | translate }}</mat-label>
                                            <input matInput placeholder="{{ 'settings.general.company_name' | translate }}" formControlName="company_name">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                            <mat-label>{{ 'settings.general.contact_email' | translate }}</mat-label>
                                            <input matInput placeholder="{{ 'settings.general.contact_email' | translate }}" formControlName="email">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                            <mat-label>{{ 'settings.general.phone' | translate }}</mat-label>
                                            <input matInput placeholder="{{ 'settings.general.phone' | translate }}" formControlName="phone">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                            <mat-label>{{ 'settings.general.default_currency' | translate }}</mat-label>
                                            <input matInput placeholder="{{ 'settings.general.default_currency' | translate }}" formControlName="currency">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                            <mat-label>{{ 'settings.general.color_theme' | translate }}</mat-label>
                                            <mat-select [ngModel]="settings.theme"
                                                        (selectionChange)="onThemeSelect($event)"
                                                        formControlName="theme">
                                                <mat-option *ngFor="let t of themes" [value]="t.value">
                                                    {{ 'settings.themes.' + t.label | translate }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="input-group" color="primary" appearance="outline">
                                            <mat-label>{{'settings.general.language.title' | translate}}</mat-label>
                                            <mat-select [placeholder]="'settings.general.language.title' | translate"
                                                        [ngModel]="settings.language"
                                                        (selectionChange)="onLanguageSelect($event)"
                                                        formControlName="language">
                                                <mat-option *ngFor="let l of languages" [value]="l.value">
                                                    {{ 'settings.general.language.' + l.label | translate }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-5">
                                <div class="logo centerTop">
                                    <figure class="item simple-text" *ngIf="showPhoto">
                                        <img class="img" [src]="showPhoto | async" alt="Logo">
                                    </figure>
                                    <div>
                                        <input type="file" #logoFileInput class="file-input" accept="image/*" (change)="onProfilePhotoSelect($event.target.files)">
                                        <button mat-button class="mat-raised-button" (click)="logoFileInput.click()">
                                            <i class="material-icons">attachment</i>
                                            {{ 'settings.general.logo' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>{{ 'settings.general.physical_address' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'settings.general.physical_address' | translate }}" formControlName="physical_address">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>{{ 'settings.general.postal_address' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'settings.general.postal_address' | translate }}" formControlName="postal_address">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>{{ 'settings.general.website' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'settings.general.website' | translate }}" formControlName="website_url">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>{{ 'settings.general.zip_postal_code' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'settings.general.zip_postal_code' | translate }}" formControlName="postal_code">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>{{ 'settings.general.date_format' | translate }}</mat-label>
                                    <mat-select placeholder="{{ 'settings.general.date_format' | translate }}" formControlName="date_format">
                                        <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat.name">
                                            {{dateFormat.display_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>{{ 'settings.general.amount_thousand_separator' | translate }}</mat-label>
                                    <mat-select placeholder="{{ 'settings.general.amount_thousand_separator' | translate }}" formControlName="amount_thousand_separator">
                                        <mat-option *ngFor="let amountThousandSeparator of amountThousandSeparators" [value]="amountThousandSeparator.name">
                                            {{amountThousandSeparator.display_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>{{ 'settings.general.amount_decimal_separator' | translate }}</mat-label>
                                    <mat-select placeholder="{{ 'settings.general.amount_decimal_separator' | translate }}" formControlName="amount_decimal_separator">
                                        <mat-option *ngFor="let amountDecimalSeparator of amountDecimalSeparators" [value]="amountDecimalSeparator.name">
                                            {{amountDecimalSeparator.display_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                    <mat-label>{{ 'settings.general.amount_decimals' | translate }}</mat-label>
                                    <mat-select placeholder="{{ 'settings.general.amount_decimals' | translate }}" formControlName="amount_decimal">
                                        <mat-option *ngFor="let amountDecimal of amountDecimals" [value]="amountDecimal.name">
                                            {{amountDecimal.display_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="divider divider-md"></div>

                        <div class="d-flex justify-content-center spinner-container" *ngIf="loader">
                            <mat-progress-bar
                                    color="green"
                                    mode="query"
                                    value=50
                                    bufferValue=75>
                            </mat-progress-bar>
                        </div>

                        <div>
                            <button mat-raised-button type="submit" class="btn pull-right" color="accent"
                                    (click)="update()" [disabled]="!form.valid || loader">{{ 'settings.general.update' | translate }}</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>
