<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'leases.field.lease_number' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'leases.field.lease_number' | translate }}" disabled
                                   value="{{(lease$|async)?.lease_number}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'leases.field.property' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'leases.field.property' | translate }}" disabled
                                   value="{{(lease$|async)?.property?.property_name}}
                                   ({{(lease$|async)?.property?.property_code}})">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'leases.field.unit' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'leases.field.unit' | translate }}" disabled value="{{(lease$|async)?.unit_names}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'leases.field.lease_type' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'leases.field.lease_type' | translate }}" disabled
                                   value="{{(lease$|async)?.lease_type?.lease_type_display_name}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'leases.field.start_date' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'leases.field.start_date' | translate }}" disabled value="{{(lease$|async)?.start_date}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'leases.field.due_on' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'leases.field.due_on' | translate }}" disabled value="{{(lease$|async)?.due_on}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'leases.field.rent_amount' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'leases.field.rent_amount' | translate }}" disabled value="{{(lease$|async)?.rent_amount}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{ 'leases.field.rent_deposit_amount' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'leases.field.rent_deposit_amount' | translate }}" disabled
                                   value="{{(lease$|async)?.rent_deposit}}">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'leases.field.utility_deposits' | translate }}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="mr-2 text-muted"></span>
                                        <span class="text-right"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>{{ 'leases.field.utility' | translate }}</th>
                                            <th>{{ 'leases.field.deposit_amount' | translate }}</th>
                                        </tr>
                                        <ng-container
                                                *ngFor="let utilityDeposit of (lease$|async)?.utility_deposits; let i = index;">
                                            <tr>
                                                <td>{{utilityDeposit.utility_display_name}}</td>
                                                <td>{{utilityDeposit?.pivot?.deposit_amount}}</td>
                                            </tr>
                                        </ng-container>
                                    </table>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'utilities.title' | translate }}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="mr-2 text-muted"></span>
                                        <span class="text-right"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>{{ 'utilities.field.utility_name' | translate }}</th>
                                            <th>{{ 'utilities.field.variable_cost' | translate }}</th>
                                            <th>{{ 'utilities.field.fixed_fee' | translate }}</th>
                                        </tr>
                                        <ng-container
                                                *ngFor="let utilityCharge of (lease$|async)?.utility_charges; let i = index;">
                                            <tr>
                                                <td>{{utilityCharge.utility_display_name}}</td>
                                                <td>{{utilityCharge?.pivot?.utility_unit_cost}}</td>
                                                <td>{{utilityCharge?.pivot?.utility_base_fee}}</td>
                                            </tr>
                                        </ng-container>
                                    </table>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'extra_charge.title' | translate }}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="mr-2 text-muted"></span>
                                        <span class="text-right"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>{{ 'extra_charge.field.extra_charge_name' | translate }}</th>
                                            <th>{{ 'extra_charge.field.frequency' | translate }}</th>
                                            <th>{{ 'extra_charge.field.extra_charge_value' | translate }}</th>
                                            <th>{{ 'extra_charge.field.extra_charge_type' | translate }}</th>
                                        </tr>
                                        <ng-container
                                                *ngFor="let extraCharge of (lease$|async)?.extra_charges; let i = index;">
                                            <tr>
                                                <td>{{extraCharge.extra_charge_display_name}}</td>
                                                <td>{{extraCharge?.pivot?.extra_charge_frequency}}</td>
                                                <td>{{extraCharge?.pivot?.extra_charge_value}}</td>
                                                <td>{{extraCharge?.pivot?.extra_charge_type}}</td>
                                            </tr>
                                        </ng-container>
                                    </table>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'late_fees.title' | translate }}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="mr-2 text-muted"></span>
                                        <span class="text-right"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>{{ 'late_fees.field.late_fee_name' | translate }}</th>
                                            <th>{{ 'late_fees.field.grace_period' | translate }}</th>
                                            <th>{{ 'late_fees.field.frequency' | translate }}</th>
                                            <th>{{ 'late_fees.field.late_fee_value' | translate }}</th>
                                            <th>{{ 'late_fees.field.late_fee_type' | translate }}</th>
                                        </tr>
                                        <ng-container *ngFor="let lateFee of (lease$|async)?.late_fees; let i = index;">
                                            <tr>
                                                <td>{{lateFee.late_fee_display_name}}</td>
                                                <td>{{lateFee?.pivot?.grace_period}}</td>
                                                <td>{{lateFee?.pivot?.late_fee_frequency}}</td>
                                                <td>{{lateFee?.pivot?.late_fee_value}}</td>
                                                <td>{{lateFee?.pivot?.late_fee_type}}</td>
                                            </tr>
                                        </ng-container>
                                    </table>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
