<div class="row">
    <div class="col-md-12">


                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ 'settings.email.config.title' | translate }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form [formGroup] = "form">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" color="primary" appearance="outline">
                                        <mat-label>{{ 'settings.email.config.driver' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'settings.email.config.driver' | translate }}" formControlName="driver">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" color="primary" appearance="outline">
                                        <mat-label>{{ 'settings.email.config.host' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'settings.email.config.host' | translate }}" formControlName="host">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" color="primary" appearance="outline">
                                        <mat-label>{{ 'settings.email.config.username' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'settings.email.config.username' | translate }}" formControlName="username">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" color="primary" appearance="outline">
                                        <mat-label>{{ 'settings.email.config.password' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'settings.email.config.password' | translate }}" formControlName="password">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" color="primary" appearance="outline">
                                        <mat-label>{{ 'settings.email.config.port' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'settings.email.config.port' | translate }}" formControlName="port">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" color="primary" appearance="outline">
                                        <mat-label>{{ 'settings.email.config.from_address' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'settings.email.config.from_address' | translate }}" formControlName="from_address">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" color="primary" appearance="outline">
                                        <mat-label>{{ 'settings.email.config.from_name' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'settings.email.config.from_name' | translate }}" formControlName="from_name">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="divider divider-md"></div>

                            <div class="d-flex justify-content-center spinner-container" *ngIf="loader">
                                <mat-progress-bar
                                        color="green"
                                        mode="query"
                                        value=50
                                        bufferValue=75>
                                </mat-progress-bar>
                            </div>

                            <div>
                                <button mat-raised-button type="submit" class="btn pull-right" color="accent" (click)="update()" [disabled]="!form.valid || loader">
                                    {{ 'settings.email.config.update' | translate }}
                                </button>
                            </div>

                            <div class="clearfix"></div>
                        </form>


                    </mat-expansion-panel>
                </mat-accordion>



    </div>

</div>
