<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <p class="card-category">{{ 'settings.lease.title' | translate }}</p>
            </div>

            <div class="card-body">

                <nav mat-tab-nav-bar>

                    <a mat-tab-link routerLinkActive #lease="routerLinkActive" [active]="lease.isActive" [routerLinkActiveOptions]="{exact: true}"
                       [routerLink]="['/settings/lease']">
                        <span class="nav-text"> {{ 'settings.lease.general.title' | translate }}</span></a>

                    <a mat-tab-link routerLinkActive #lease_type="routerLinkActive" [active]="lease_type.isActive"
                       [routerLinkActiveOptions]="{exact: true}" [routerLink]="['lease_type']">
                        <span class="nav-text"> {{ 'settings.lease.lease_types.title' | translate }}</span></a>

                    <a mat-tab-link routerLinkActive #extra_charge="routerLinkActive" [active]="extra_charge.isActive"
                       [routerLinkActiveOptions]="{exact: true}" [routerLink]="['extra_charge']">
                        <span class="nav-text"> {{ 'settings.lease.extra_charges.title' | translate }} </span></a>
                </nav>

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>
