<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Add Property</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">

                        <mat-horizontal-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                                <form [formGroup]="firstFormGroup">
                                    <ng-template matStepLabel>Details</ng-template>
                                    <div class="row col-sm-12">
                                        <div class="col-sm-3">Photo here</div>
                                        <div class="col-sm-9">
                                            <form [formGroup] = "form">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Landlord Name</mat-label>
                                                            <input matInput formControlName="landlord_id" placeholder="Landlord Name">
                                                            <mat-error align="start" *ngIf="formErrors?.landlord_id" class="form__error">{{ formErrors.landlord_id }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-6">

                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Property Type *</mat-label>
                                                            <mat-select placeholder="Property Type *" formControlName="property_type_id">
                                                                <mat-option *ngFor="let propertyType of propertyTypes$ | async" [value]="propertyType.id">
                                                                    {{propertyType.display_name}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error align="start" *ngIf="formErrors?.property_type_id" class="form__error">{{ formErrors.property_type_id }}</mat-error>
                                                        </mat-form-field>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Property Name</mat-label>
                                                            <input matInput formControlName="property_name" placeholder="Property Name">
                                                            <mat-error align="start" *ngIf="formErrors?.property_name" class="form__error">{{ formErrors.property_name }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <mat-form-field class="full-width" color="primary" appearance="outline">
                                                            <mat-label>Location</mat-label>
                                                            <input matInput formControlName="location" placeholder="Location">
                                                            <mat-error align="start" *ngIf="formErrors?.location" class="form__error">{{ formErrors.location }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>


                                                <div formArrayName="unitFields"
                                                     *ngFor="let unitField of form.get('unitFields').controls; let i = index;">
                                                    <div class="row col-sm-12" [formGroupName]="i">

                                                        <div class="col-9">
                                                            <mat-form-field (click)="addUnitDetails(i)" class="full-width" color="primary" appearance="outline">
                                                                <mat-label> {{i+1}}. Unit Name</mat-label>
                                                                <input [readonly]="true"  matInput formControlName="unit_name" placeholder="e.g Suit 001">
                                                                <span matSuffix class="material-icons">menu</span>
                                                                <!--<mat-hint align="start"><strong> <mat-icon>file_copy</mat-icon>copy</strong> </mat-hint>-->
                                                                <mat-error align="start" *ngIf="formErrors?.unit_name" class="form__error">{{ formErrors.unit_name }}</mat-error>
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-2">
                                                            <button (click)="copyUnitField(i)"
                                                                    mat-icon-button aria-label="Copy to New Unit"
                                                                    matTooltip="Copy to New Unit" [matTooltipPosition]="'above'">
                                                                <mat-icon>file_copy</mat-icon>
                                                            </button>
                                                            <button (click)="removeUnitField(i)"
                                                                    mat-icon-button color="accent" aria-label="Remove Unit"
                                                                    matTooltip="Remove Unit" [matTooltipPosition]="'above'">
                                                                <mat-icon color="warn">delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-6">
                                                        <button (click)="addUnitField()" style="margin-bottom: 20px;"
                                                                class="mat-stroked-button mat-accent" mat-button type="button"
                                                                matTooltip="Add Unit" [matTooltipPosition]="'above'">
                                                            <mat-icon color="material-icons">add</mat-icon>
                                                            <span>Add Another Unit</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div>
                                        <button class="mat-raised-button" color="accent" mat-button matStepperNext type="button">
                                            <span>Next</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>

                                </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                                <form [formGroup]="secondFormGroup">
                                    <ng-template matStepLabel>Settings</ng-template>
                                    <mat-form-field>
                                        <mat-label>Address</mat-label>
                                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                               required>
                                    </mat-form-field>

                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>Back</span>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                        </mat-horizontal-stepper>

                        <div>
                            <button class="mat-raised-button mat-primary float-right" mat-button type="button" (click)="create()">
                                <span>Save Property</span>

                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
