<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title" *ngIf="isAdd">{{ 'properties.create.title' | translate }}
                            <ng-container *ngIf="formError$ | async">
                                <mat-icon color="warn">error_outline</mat-icon>
                            </ng-container>
                        </h4>
                        <h4 class="card-title" *ngIf="!isAdd"> {{ 'properties.edit.title' | translate }}
                            <ng-container *ngIf="formError$ | async">
                                <mat-icon color="warn">error_outline</mat-icon>
                            </ng-container>
                        </h4>
                    </div>
                    <div class="card-body">

                        <mat-vertical-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="propertyDetailsFormGroup">
                                <form [formGroup]="propertyDetailsFormGroup">
                                    <ng-template matStepLabel>{{ 'properties.details.title' | translate }}</ng-template>
                                    <div class="row col-sm-12">
                                        <div class="col-sm-12">
                                            <form [formGroup]="propertyDetailsFormGroup">

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <mat-form-field class="full-width" color="primary"
                                                                        appearance="outline">
                                                            <mat-label>{{ 'properties.field.property_name' | translate }}</mat-label>
                                                            <input matInput formControlName="property_name"
                                                                   placeholder="{{ 'properties.field.property_name' | translate }}">
                                                            <mat-error align="start" *ngIf="formErrors?.property_name"
                                                                       class="form__error">{{ formErrors.property_name }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <mat-form-field class="full-width" color="primary"
                                                                        appearance="outline">
                                                            <mat-label>{{ 'properties.field.property_code' | translate }}</mat-label>
                                                            <input matInput formControlName="property_code"
                                                                   placeholder="{{ 'properties.field.property_code' | translate }}">
                                                            <mat-error align="start" *ngIf="formErrors?.property_code"
                                                                       class="form__error">{{ formErrors.property_code }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <mat-form-field class="full-width" color="primary"
                                                                        appearance="outline">
                                                            <mat-label>{{ 'properties.field.location' | translate }}</mat-label>
                                                            <input matInput formControlName="location"
                                                                   placeholder="{{ 'properties.field.location' | translate }}">
                                                            <mat-error align="start" *ngIf="formErrors?.location"
                                                                       class="form__error">{{ formErrors.location }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="row" *ngIf="!isAdd">
                                                    <div class="col-sm-6">
                                                        <mat-form-field class="full-width" color="primary"
                                                                        appearance="outline">
                                                            <mat-label>{{ 'properties.field.total_units' | translate }}</mat-label>
                                                            <input matInput formControlName="total_units">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="mb-4" mat-button color="accent"
                                                                [routerLink]="['units']"
                                                                (click)="onPropertySelected()">
                                                            <mat-icon>add_circle_outline</mat-icon>
                                                            {{ 'properties.field.edit_units' | translate }}
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <ng-container *ngIf="!isAdd">
                                                            <mat-form-field class="full-width" color="primary"
                                                                            appearance="outline">
                                                                <mat-label>{{ 'properties.field.landlord' | translate }}</mat-label>
                                                                <input matInput formControlName="landlord_id">
                                                            </mat-form-field>
                                                        </ng-container>
                                                        <ng-container *ngIf="isAdd">
                                                            <mat-form-field color="primary" appearance="outline">
                                                                <mat-label>{{ 'properties.field.landlord' | translate }}</mat-label>
                                                                <mat-select formControlName="landlord_id" #memberSelect>
                                                                    <mat-option>
                                                                        <ngx-mat-select-search
                                                                                [formControl]="landlordServerSideFilteringCtrl"
                                                                                [searching]="searching"
                                                                                placeholderLabel="{{ 'properties.field.landlord.find' | translate }}"
                                                                                noEntriesFoundLabel="{{ 'properties.field.landlord.no_match' | translate }}">
                                                                        </ngx-mat-select-search>
                                                                    </mat-option>
                                                                    <mat-option
                                                                            *ngFor="let landlord of landlordsFiltered$ | async"
                                                                            [value]="landlord.id">
                                                                        {{landlord.first_name}} {{landlord.last_name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                                <mat-error align="start" *ngIf="formErrors?.landlord_id"
                                                                           class="form__error">{{ formErrors.landlord_id }}</mat-error>
                                                            </mat-form-field>
                                                        </ng-container>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <mat-form-field class="full-width" color="primary"
                                                                        appearance="outline">
                                                            <mat-label>{{ 'properties.field.property_type' | translate }}</mat-label>
                                                            <mat-select
                                                                    placeholder="{{ 'properties.field.property_type' | translate }}"
                                                                    formControlName="property_type_id">
                                                                <mat-option
                                                                        *ngFor="let propertyType of propertyTypes$ | async"
                                                                        [value]="propertyType.id">
                                                                    {{propertyType.display_name}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error align="start"
                                                                       *ngIf="formErrors?.property_type_id"
                                                                       class="form__error">{{ formErrors.property_type_id }}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <ng-container *ngIf="isAdd">
                                                    <div formArrayName="unitFields"
                                                         *ngFor="let unitField of allUnitFields.controls; let i = index;">
                                                        <div class="row" [formGroupName]="i">
                                                            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                                <mat-form-field (click)="addUnitDetails(i)"
                                                                                class="full-width" color="primary"
                                                                                appearance="outline">
                                                                    <mat-label> {{i + 1}}
                                                                        . {{ 'properties.field.unit_name' | translate }}</mat-label>
                                                                    <input [readonly]="true" matInput
                                                                           formControlName="unit_name"
                                                                           placeholder="{{ 'properties.field.unit_name' | translate }}">
                                                                    <span class="float-right mr-1 ml-5"
                                                                          style="margin-top:-20px;">
                                                                    <ng-container>
                                                                    <input [readonly]="true" matInput
                                                                           formControlName="unit_type_name"
                                                                           placeholder="{{ 'properties.field.unit_name' | translate }}">

                                                                    </ng-container>
                                                                </span>
                                                                    <span matSuffix class="material-icons">menu</span>
                                                                    <mat-error align="start"
                                                                               *ngIf="formErrors?.unit_name"
                                                                               class="form__error">{{ formErrors.unit_name }}</mat-error>
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                                <button class="btn btn-link btn-sm btn-just-icon"
                                                                        (click)="copyUnitField(i)"
                                                                        mat-icon-button>
                                                                    <mat-icon>file_copy</mat-icon>
                                                                </button>
                                                                <button class="btn btn-link btn-sm btn-just-icon"
                                                                        (click)="removeUnitField(i)"
                                                                        mat-icon-button color="accent"
                                                                       >
                                                                    <mat-icon color="warn">close</mat-icon>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>

                                                <div class="row mb-4" *ngIf="isAdd">
                                                    <div class="col-6">
                                                        <button mat-button color="accent" (click)="addUnitField()"
                                                                matTooltip="{{ 'properties.field.add_another_unit' | translate }}"
                                                               >
                                                            <mat-icon>add_circle_outline</mat-icon>
                                                            {{ 'properties.field.add_another_unit' | translate }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div>
                                        <button class="mat-raised-button" color="accent" mat-button matStepperNext
                                                type="button">
                                            <span>{{ 'next' | translate }}</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>

                                </form>
                            </mat-step>
                            <mat-step [stepControl]="paymentsFormGroup">
                                <form [formGroup]="paymentsFormGroup">
                                    <ng-template matStepLabel>{{ 'payment_settings.title' | translate }}</ng-template>

                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label> {{ 'properties.field.agent_commission_value' | translate }}</mat-label>
                                                <input matInput type="number" min="0"
                                                       formControlName="agent_commission_value"
                                                       placeholder="{{ 'properties.field.agent_commission_value' | translate }}">
                                                <mat-error align="start" *ngIf="formErrors?.agent_commission_value"
                                                           class="form__error">{{ formErrors.agent_commission_value }}</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                                <mat-label>{{ 'properties.field.agent_commission_type' | translate }}</mat-label>
                                                <mat-select
                                                        placeholder="{{ 'properties.field.agent_commission_type' | translate }}"
                                                        formControlName="agent_commission_type">
                                                    <mat-option *ngFor="let agentCommissionType of agentCommissionTypes"
                                                                [value]="agentCommissionType.key">
                                                        {{agentCommissionType.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error align="start" *ngIf="formErrors?.agent_commission_type"
                                                           class="form__error">{{ formErrors.agent_commission_type }}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <!-- Start Payment Method Fields-->
                                    <div formArrayName="paymentMethodFields"
                                         *ngFor="let paymentMethodField of paymentMethodFieldsAll.controls; let i = index;">
                                        <div class="row" [formGroupName]="i">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}
                                                        .  {{ 'payment_method.field.payment_method_name' | translate }}</mat-label>
                                                    <mat-select
                                                            placeholder=" {{ 'payment_method.field.payment_method_name' | translate }}"
                                                            formControlName="payment_method_id">
                                                        <mat-option
                                                                *ngFor="let paymentMethod of paymentMethods$ | async"
                                                                [value]="paymentMethod.id">
                                                            {{paymentMethod.payment_method_display_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.payment_method_id"
                                                               class="form__error">{{ formErrors.payment_method_id }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}
                                                        . {{ 'payment_method.field.payment_method_description' | translate }}</mat-label>
                                                    <input matInput formControlName="payment_method_description"
                                                           placeholder="{{ 'payment_method.field.payment_method_description' | translate }}">
                                                    <mat-error align="start"
                                                               *ngIf="formErrors?.payment_method_description"
                                                               class="form__error">{{ formErrors.payment_method_description }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                <button class="btn btn-link btn-sm btn-just-icon"
                                                        (click)="paymentMethodFieldCopy(i)"
                                                        mat-icon-button>
                                                    <mat-icon>file_copy</mat-icon>
                                                </button>
                                                <button class="btn btn-link btn-sm btn-just-icon"
                                                        (click)="paymentMethodFieldRemove(i)"
                                                        mat-icon-button color="accent">
                                                    <mat-icon color="warn">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <button mat-button color="accent" (click)="paymentMethodFieldAdd()">
                                                <mat-icon>add_circle_outline</mat-icon>
                                                {{ 'payment_method.field.add_another_payment_method' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Payment Method Fields-->
                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button
                                                matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>{{ 'back' | translate }}</span>
                                        </button>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperNext
                                                type="button">
                                            <span>{{ 'next' | translate }}</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step [stepControl]="extraChargesFormGroup">
                                <form [formGroup]="extraChargesFormGroup">
                                    <ng-template matStepLabel>{{ 'extra_charge.title' | translate }}</ng-template>

                                    <!-- Start Extra Charge Fields-->
                                    <div formArrayName="extraChargeFields"
                                         *ngFor="let extraChargeField of extraChargeFieldsAll.controls; let i = index;">
                                        <div class="row" [formGroupName]="i">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}. {{ 'extra_charge.field.extra_charge_name' | translate }}</mat-label>
                                                    <mat-select placeholder="{{ 'extra_charge.field.extra_charge_name' | translate }}"
                                                                formControlName="extra_charge_id">
                                                        <mat-option *ngFor="let extraCharge of extraCharges$ | async"
                                                                    [value]="extraCharge.id">
                                                            {{extraCharge.extra_charge_display_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.extra_charge_id"
                                                               class="form__error">{{ formErrors.extra_charge_id }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}. {{ 'extra_charge.field.extra_charge_value' | translate }}</mat-label>
                                                    <input matInput type="number" min="0"
                                                           formControlName="extra_charge_value"
                                                           placeholder="{{ 'extra_charge.field.extra_charge_value' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.extra_charge_value"
                                                               class="form__error">{{ formErrors.extra_charge_value }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}. {{ 'extra_charge.field.extra_charge_type' | translate }}</mat-label>
                                                    <mat-select placeholder="{{ 'extra_charge.field.extra_charge_type' | translate }}"
                                                                formControlName="extra_charge_type">
                                                        <mat-option *ngFor="let extraChargeType of extraChargeTypes"
                                                                    [value]="extraChargeType.key">
                                                            {{extraChargeType.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.extra_charge_type"
                                                               class="form__error">{{ formErrors.extra_charge_type }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}. {{ 'extra_charge.field.frequency' | translate }}</mat-label>
                                                    <mat-select placeholder="{{ 'extra_charge.field.frequency' | translate }}"
                                                                formControlName="extra_charge_frequency">
                                                        <mat-option
                                                                *ngFor="let extraChargeFrequency of extraChargeFrequencies"
                                                                [value]="extraChargeFrequency.key">
                                                            {{extraChargeFrequency.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.extra_charge_frequency"
                                                               class="form__error">{{ formErrors.extra_charge_frequency }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                <button class="btn btn-link btn-sm btn-just-icon"
                                                        (click)="extraChargeFieldCopy(i)"
                                                        mat-icon-button>
                                                    <mat-icon>file_copy</mat-icon>
                                                </button>
                                                <button class="btn btn-link btn-sm btn-just-icon"
                                                        (click)="extraChargeFieldRemove(i)"
                                                        mat-icon-button color="accent">
                                                    <mat-icon color="warn">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <button mat-button color="accent" (click)="extraChargeFieldAdd()"
                                                    matTooltip="Add Field">
                                                <mat-icon>add_circle_outline</mat-icon>
                                                {{ 'extra_charge.field.add_another_extra_charge' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Extra Charge Fields-->
                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button
                                                matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>{{ 'back' | translate }}</span>
                                        </button>

                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperNext
                                                type="button">
                                            <span>{{ 'next' | translate }}</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step [stepControl]="lateFeesFormGroup">
                                <form [formGroup]="lateFeesFormGroup">
                                    <ng-template matStepLabel>{{ 'late_fees.title' | translate }}</ng-template>
                                    <div formArrayName="lateFeeFields"
                                         *ngFor="let lateFeeField of lateFeeFieldsAll.controls; let i = index;">
                                        <div [formGroupName]="i" class="mb-4">

                                            <div class="row">
                                                <div class="col-4">
                                                    <mat-form-field class="full-width" color="primary"
                                                                    appearance="outline">
                                                        <mat-label> {{i + 1}}. {{ 'late_fees.field.late_fee_name' | translate }}</mat-label>
                                                        <mat-select placeholder="{{ 'late_fees.field.late_fee_name' | translate }}"
                                                                    formControlName="late_fee_id">
                                                            <mat-option *ngFor="let lateFee of lateFees$ | async"
                                                                        [value]="lateFee.id">
                                                                {{lateFee.late_fee_display_name}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error align="start" *ngIf="formErrors?.late_fee_id"
                                                                   class="form__error">{{ formErrors.late_fee_id }}</mat-error>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-4">
                                                    <mat-form-field class="full-width" color="primary"
                                                                    appearance="outline">
                                                        <mat-label> {{i + 1}}. {{ 'late_fees.field.late_fee_value' | translate }}</mat-label>
                                                        <input matInput type="number" min="0"
                                                               formControlName="late_fee_value"
                                                               placeholder="{{ 'late_fees.field.late_fee_value' | translate }}">
                                                        <mat-error align="start" *ngIf="formErrors?.late_fee_value"
                                                                   class="form__error">{{ formErrors.late_fee_value }}</mat-error>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-4">
                                                    <mat-form-field class="full-width" color="primary"
                                                                    appearance="outline">
                                                        <mat-label> {{i + 1}}. {{ 'late_fees.field.late_fee_type' | translate }}</mat-label>
                                                        <mat-select placeholder="{{ 'late_fees.field.late_fee_type' | translate }}"
                                                                    formControlName="late_fee_type">
                                                            <mat-option *ngFor="let lateFeeType of lateFeeTypes"
                                                                        [value]="lateFeeType.key">
                                                                {{lateFeeType.value}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error align="start" *ngIf="formErrors?.late_fee_type"
                                                                   class="form__error">{{ formErrors.late_fee_type }}</mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-4">
                                                    <mat-form-field class="full-width" color="primary"
                                                                    appearance="outline">
                                                        <mat-label> {{i + 1}}. {{ 'late_fees.field.grace_period' | translate }}</mat-label>
                                                        <input matInput type="number" min="0"
                                                               formControlName="grace_period"
                                                               placeholder="{{ 'late_fees.field.grace_period' | translate }}">
                                                        <mat-error align="start" *ngIf="formErrors?.grace_period"
                                                                   class="form__error">{{ formErrors.grace_period }}</mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-4">
                                                    <mat-form-field class="full-width" color="primary"
                                                                    appearance="outline">
                                                        <mat-label> {{i + 1}}. {{ 'late_fees.field.frequency' | translate }}</mat-label>
                                                        <mat-select placeholder="{{ 'late_fees.field.frequency' | translate }}"
                                                                    formControlName="late_fee_frequency">
                                                            <mat-option
                                                                    *ngFor="let lateFeeFrequency of lateFeeFrequencies"
                                                                    [value]="lateFeeFrequency.key">
                                                                {{lateFeeFrequency.value}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error align="start" *ngIf="formErrors?.late_fee_frequency"
                                                                   class="form__error">{{ formErrors.late_fee_frequency }}</mat-error>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                    <button class="btn btn-link btn-sm btn-just-icon"
                                                            (click)="lateFeeFieldCopy(i)"
                                                            mat-icon-button >
                                                        <mat-icon>file_copy</mat-icon>
                                                    </button>
                                                    <button class="btn btn-link btn-sm btn-just-icon"
                                                            (click)="lateFeeFieldRemove(i)"
                                                            mat-icon-button color="accent">
                                                        <mat-icon color="warn">close</mat-icon>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <button mat-button color="accent" (click)="lateFeeFieldAdd()"
                                                   >
                                                <mat-icon>add_circle_outline</mat-icon>
                                                {{ 'late_fees.field.add_another_late_fee' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Late Fee Fields-->
                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button
                                                matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span>{{ 'back' | translate }}</span>
                                        </button>

                                        <button class="mat-raised-button mr-2" color="accent" mat-button matStepperNext
                                                type="button">
                                            <span>{{ 'next' | translate }}</span>
                                            <mat-icon color="material-icons">arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>


                            <mat-step [stepControl]="utilitiesFormGroup">
                                <form [formGroup]="utilitiesFormGroup">
                                    <ng-template matStepLabel>{{ 'utilities.title' | translate }}</ng-template>

                                    <!-- Start Utility Fields-->
                                    <div formArrayName="utilityFields"
                                         *ngFor="let utilityField of utilityFieldsAll.controls; let i = index;">
                                        <div class="row" [formGroupName]="i">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}. {{ 'utilities.field.utility_name' | translate }}</mat-label>
                                                    <mat-select placeholder="{{ 'utilities.field.utility_name' | translate }}" formControlName="utility_id">
                                                        <mat-option *ngFor="let utility of utilities$ | async"
                                                                    [value]="utility.id">
                                                            {{utility.utility_display_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error align="start" *ngIf="formErrors?.utility_id"
                                                               class="form__error">{{ formErrors.utility_id }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}. {{ 'utilities.field.variable_cost' | translate }}</mat-label>
                                                    <input matInput formControlName="utility_unit_cost"
                                                           placeholder="{{ 'utilities.field.variable_cost' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.utility_unit_cost"
                                                               class="form__error">{{ formErrors.utility_unit_cost }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                <mat-form-field class="full-width" color="primary" appearance="outline">
                                                    <mat-label> {{i + 1}}. {{ 'utilities.field.fixed_fee' | translate }}</mat-label>
                                                    <input matInput type="number" min="0"
                                                           formControlName="utility_base_fee" placeholder="{{ 'utilities.field.fixed_fee' | translate }}">
                                                    <mat-error align="start" *ngIf="formErrors?.utility_base_fee"
                                                               class="form__error">{{ formErrors.utility_base_fee }}</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 mt-md-3 mt-lg-3 mt-xl-3">
                                                <button class="btn btn-link btn-sm btn-just-icon"
                                                        (click)="utilityFieldCopy(i)"
                                                        mat-icon-button>
                                                    <mat-icon>file_copy</mat-icon>
                                                </button>
                                                <button class="btn btn-link btn-sm btn-just-icon"
                                                        (click)="utilityFieldRemove(i)"
                                                        mat-icon-button color="accent">
                                                    <mat-icon color="warn">close</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <button mat-button color="accent" (click)="utilityFieldAdd()"
                                                    matTooltip="Add Field">
                                                <mat-icon>add_circle_outline</mat-icon>
                                                {{ 'utilities.field.add_another_utility' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Utility Fields-->

                                    <div>
                                        <button class="mat-raised-button mr-2" color="accent" mat-button
                                                matStepperPrevious type="button">
                                            <mat-icon color="material-icons">arrow_left</mat-icon>
                                            <span> {{ 'back' | translate }}</span>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                        </mat-vertical-stepper>

                        <div class="d-flex justify-content-center spinner-container mb-2" *ngIf="loader">
                            <mat-progress-bar
                                    color="primary"
                                    mode="query"
                                    value=50
                                    bufferValue=75>
                            </mat-progress-bar>
                        </div>

                        <div>
                            <ng-container *ngIf="isAdmin$ | async">
                                <button *ngIf="!isAdd" [disabled]="loader" mat-button class="mr-2" color="warn"
                                        (click)="openConfirmationDialog(property)">
                                    <mat-icon>delete</mat-icon>
                                    {{ 'delete' | translate }}
                                </button>
                            </ng-container>
                            <button class="float-right" mat-raised-button color="primary" (click)="createOrUpdate()"
                                    [disabled]="!propertyDetailsFormGroup.valid || !paymentsFormGroup.valid">
                                <span> {{ 'properties.field.save_property' | translate }}</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
