<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <ng-container *robiPermission="['create-payment']">
                <div class="fab-container" *ngIf="isAdmin$ | async">
                    <button mat-fab class="fab-toggler" (click)="addDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </ng-container>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{ 'payment.list.title' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row search-form-section">
                            <ng-container *robiPermission="['create-payment']">
                                <div class="col-5" *ngIf="isAdmin$ | async">
                                    <button [disabled]="(dataSource?.loading$ | async)"
                                            mat-button matPrefix mat-stroked-button
                                            (click)="addDialog()">
                                        <mat-icon>add</mat-icon>
                                        {{ 'payment.add.title' | translate }}
                                    </button>
                                </div>
                            </ng-container>
                            <div class="col-7" [hidden]="!(isAdmin$ | async)">
                                <mat-form-field class="search-form-field">
                                    <input matInput #search placeholder="{{ 'filter' | translate }}" autocomplete="off"
                                           [disabled]="meta?.total===0">
                                    <button mat-button matSuffix mat-icon-button *ngIf="search.value"
                                            (click)="clearSearch()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <mat-table #table [dataSource]="dataSource" matSort matSortActive="payment_date"
                                       matSortDirection="desc" matSortDisableClear>

                                <ng-container matColumnDef="amount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'payment.fields.amount' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="payment_method_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'payment.fields.payment_method' | translate }}</mat-header-cell>
                                    <mat-cell
                                            *matCellDef="let row"> {{row.payment_method?.display_name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="payment_date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'payment.fields.payment_date' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.payment_date}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="tenant_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'payment.fields.tenant' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.tenant?.first_name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="lease_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'payment.fields.lease' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row?.lease?.lease_number}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="property_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'payment.fields.property' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row?.property?.property_name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="receipt_number">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'payment.fields.receipt_number' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.receipt_number}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="payment_status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'payment.fields.status' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-button class="{{row.status?.status_class}}"
                                                (click)="paymentDetails(row)">
                                            <mat-icon>{{row.status?.status_icon}}</mat-icon>
                                            {{row.status?.status_text}}
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="button-row">
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item
                                                    [matTooltipPosition]="'above'"
                                                    (click)="paymentDetails(row, true)">
                                                <mat-icon color="primary">visibility</mat-icon>
                                                <span>{{ 'payment.fields.view' | translate }}</span>
                                            </button>
                                            <button mat-menu-item
                                                    [matTooltipPosition]="'above'"
                                                    routerLink="{{row.id}}" (click)="onSelected(row)">
                                                <mat-icon color="primary">picture_as_pdf</mat-icon>
                                                <span>{{ 'payment.fields.receipt' | translate }}</span>
                                            </button>
                                            <ng-container *robiPermission="['approve-payment']">
                                                <ng-container *ngIf="isAdmin$ | async">
                                                    <button *ngIf="row.is_pending" mat-menu-item
                                                            [matTooltipPosition]="'above'"
                                                            (click)="approvePayment(row)">
                                                        <mat-icon class="text-success" color="">check_circle</mat-icon>
                                                        <span>{{ 'payment.fields.approve' | translate }}</span>
                                                    </button>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *robiPermission="['cancel-payment']">
                                                <ng-container *ngIf="isAdmin$ | async">
                                                    <button *ngIf="row.is_pending" mat-menu-item
                                                           [matTooltipPosition]="'above'"
                                                            (click)="cancelPayment(row)">
                                                        <mat-icon color="warn">highlight_off</mat-icon>
                                                        <span>{{ 'payment.fields.cancel' | translate }}</span>
                                                    </button>
                                                </ng-container>
                                            </ng-container>
                                        </mat-menu>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                            </mat-table>
                            <span *ngIf="meta?.total===0">{{ 'no_data' | translate }}</span>

                            <div class="d-flex justify-content-center spinner-container"
                                 *ngIf="(dataSource?.loading$ | async) || loader">
                                <mat-progress-bar
                                        color="green"
                                        mode="query"
                                        value=50
                                        bufferValue=75>
                                </mat-progress-bar>
                            </div>

                            <mat-paginator #pagination
                                           [length]="meta?.total"
                                           [pageIndex]="pageIndex"
                                           [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
