<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-info" color="accent">
                      <h4 class="card-title">{{'edit_profile' | translate}}</h4>
                      <p class="card-category">{{'complete_profile' | translate}}</p>
                  </div>
                  <div class="card-body" [formGroup]="form"  (ngSubmit)="update()">

                      <div class="row">
                          <div class="col-6">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'tenants.field.first_name' | translate}}</mat-label>
                                  <input matInput formControlName="first_name" placeholder="{{'tenants.field.first_name' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.first_name" class="form__error">{{ formErrors.first_name }}</mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-6">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'tenants.field.middle_name' | translate}}</mat-label>
                                  <input matInput formControlName="middle_name" placeholder="{{'tenants.field.middle_name' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.middle_name" class="form__error">{{ formErrors.middle_name }}</mat-error>
                              </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-6">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'tenants.field.last_name' | translate}}</mat-label>
                                  <input matInput formControlName="last_name" placeholder="{{'tenants.field.last_name' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.last_name" class="form__error">{{ formErrors.last_name }}</mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-6">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'tenants.field.email' | translate}}</mat-label>
                                  <input matInput formControlName="email" placeholder="{{'tenants.field.email' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.email" class="form__error">{{ formErrors.email }}</mat-error>
                              </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-6">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'tenants.field.phone' | translate}}</mat-label>
                                  <input matInput formControlName="phone" placeholder="{{'tenants.field.phone' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.phone" class="form__error">{{ formErrors.phone }}</mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-6">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'tenants.field.country' | translate}}</mat-label>
                                  <input matInput formControlName="country" placeholder="{{'tenants.field.country' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.country" class="form__error">{{ formErrors.country }}</mat-error>
                              </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-6">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'tenants.field.city' | translate}}</mat-label>
                                  <input matInput formControlName="city" placeholder="{{'tenants.field.city' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.city" class="form__error">{{ formErrors.city }}</mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-6">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'landlords.field.state' | translate}}</mat-label>
                                  <input matInput formControlName="state" placeholder="{{'landlords.field.state' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.state" class="form__error">{{ formErrors.state }}</mat-error>
                              </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-12">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'landlords.field.physical_address' | translate}}</mat-label>
                                  <input matInput formControlName="physical_address" placeholder="{{'landlords.field.physical_address' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.physical_address" class="form__error">{{ formErrors.physical_address }}</mat-error>
                              </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-12">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'landlords.field.postal_address' | translate}}</mat-label>
                                  <input matInput formControlName="postal_address" placeholder="{{'landlords.field.postal_address' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.postal_address" class="form__error">{{ formErrors.postal_address }}</mat-error>
                              </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-12">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'landlords.field.postal_address' | translate}}</mat-label>
                                  <input matInput formControlName="postal_code" placeholder="Postal Code">
                                  <mat-error align="start" *ngIf="formErrors?.postal_code" class="form__error">{{ formErrors.postal_code }}</mat-error>
                              </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-4">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'settings.users.user.current_password' | translate}}</mat-label>
                                  <input matInput formControlName="current_password" type="password" placeholder="{{'settings.users.user.current_password' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.current_password" class="form__error">{{ formErrors.current_password }}</mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'new_password' | translate}}</mat-label>
                                  <input matInput formControlName="password" type="password" placeholder="{{'new_password' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.password" class="form__error">{{ formErrors.password }}</mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                              <mat-form-field class="full-width" color="primary" appearance="outline">
                                  <mat-label>{{'confirm_new_password' | translate}}</mat-label>
                                  <input matInput formControlName="password_confirmation" type="password" placeholder="{{'confirm_new_password' | translate}}">
                                  <mat-error align="start" *ngIf="formErrors?.password_confirmation" class="form__error">{{ formErrors.password_confirmation }}</mat-error>
                              </mat-form-field>
                          </div>
                      </div>

                      <button class="btn mat-raised-button mat-primary pull-right" (click)="update()" [disabled]="!form.valid || loader">
                          {{'update_profile' | translate}}
                      </button>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
          </div>
      </div>
  </div>
</div>
