$robi-light-primary: mat-palette($mat-grey, 200, 500, 300);
$robi-light-accent: mat-palette($mat-brown, 200);
$robi-light-warn: mat-palette($mat-deep-orange, 200);

$robi-light-theme: mat-light-theme(
  $robi-light-primary,
  $robi-light-accent,
  $robi-light-warn
);
