$robi-red-primary: mat-palette($mat-red, 700, 300, 900);
$robi-red-accent: mat-palette($mat-pink, 400);
$robi-red-warn: mat-palette($mat-red, 500);

$robi-red-theme: mat-light-theme(
                $robi-red-primary,
                $robi-red-accent,
                $robi-red-warn
);
