<h5 mat-dialog-title *ngIf="isAdd">{{ 'settings.lease.extra_charges.new' | translate }}
    <ng-container *ngIf="formError$ | async">
        <mat-icon color="warn">error_outline</mat-icon>
    </ng-container>
</h5>
<h5 mat-dialog-title *ngIf="!isAdd">{{ 'settings.lease.extra_charges.edit' | translate }}
    <ng-container *ngIf="formError$ | async">
        <mat-icon color="warn">error_outline</mat-icon>
    </ng-container>
</h5>

<mat-dialog-content class="mat-dialog-data" [formGroup]="form" (ngSubmit)="create()">

    <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.lease.extra_charges.field.name' | translate }}</mat-label>
                <input matInput formControlName="extra_charge_name"
                       placeholder="{{ 'settings.lease.extra_charges.field.name' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.extra_charge_name"
                           class="form__error">{{ formErrors.extra_charge_name }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.lease.extra_charges.field.display_name' | translate }}</mat-label>
                <input matInput formControlName="extra_charge_display_name"
                       placeholder="{{ 'settings.lease.extra_charges.field.display_name' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.extra_charge_display_name"
                           class="form__error">{{ formErrors.extra_charge_display_name }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'settings.lease.extra_charges.field.description' | translate }}</mat-label>
                <textarea formControlName="extra_charge_description" matInput #extra_charge_description
                          placeholder="{{ 'settings.lease.extra_charges.field.description' | translate }}" maxlength="150" rows="2"></textarea>
                <mat-hint align="end">{{extra_charge_description.value.length}} / 150</mat-hint>
                <mat-error align="start" *ngIf="formErrors?.extra_charge_description"
                           class="form__error">{{ formErrors.extra_charge_description }}</mat-error>
            </mat-form-field>
        </div>
    </div>

</mat-dialog-content>

<div class="d-flex justify-content-center spinner-container" *ngIf="loader">
    <mat-progress-bar
            color="primary"
            mode="query"
            value=50
            bufferValue=75>
    </mat-progress-bar>
</div>

<mat-dialog-actions align="center">
    <button [disabled]="loader" mat-button class="mr-2" color="accent" [mat-dialog-close]="true" (click)="close()">
        {{ 'cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="createOrUpdate()" [disabled]="!form.valid || loader">
        {{ 'save' | translate }}
    </button>
</mat-dialog-actions>
