<h5 mat-dialog-title *ngIf="isAdd">{{ 'units.create.title' | translate }}
    <ng-container *ngIf="formError$ | async">
        <mat-icon color="warn">error_outline</mat-icon>
    </ng-container>
</h5>
<div mat-dialog-title *ngIf="!isAdd">{{ 'units.edit.title' | translate }}
    <ng-container *ngIf="formError$ | async">
        <mat-icon color="warn">error_outline</mat-icon>
    </ng-container>
</div>

<form [formGroup]="form">

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-12">
        <mat-button-toggle-group formControlName='unit_mode' #group="matButtonToggleGroup"
                                 (change)="onToggleChange(group.value)">
            <mat-button-toggle value="residential" aria-label="Text align left">
                <mat-icon>home</mat-icon>
                <span>{{ 'units.field.residential' | translate }}</span>
            </mat-button-toggle>
            <mat-button-toggle value="commercial" aria-label="Text align right">
                <mat-icon>business</mat-icon>
                <span>{{ 'units.field.commercial' | translate }}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<mat-dialog-content class="mat-dialog-data">

    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'units.field.unit_name' | translate }}</mat-label>
                <input matInput formControlName="unit_name" placeholder="{{ 'units.field.unit_name' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.unit_name" class="form__error">{{ formErrors.unit_name }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label> {{ 'units.field.unit_floor' | translate }}</mat-label>
                <input  matInput type="number" formControlName="unit_floor" placeholder="{{ 'units.field.unit_floor' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.unit_floor" class="form__error">{{ formErrors.unit_floor }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'units.field.rent_amount' | translate }}</mat-label>
                <input matInput type="number" min="0" formControlName="rent_amount" placeholder="{{ 'units.field.rent_amount' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.rent_amount" class="form__error">{{ formErrors.rent_amount }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'units.field.unit_type' | translate }}</mat-label>
                <mat-select placeholder="{{ 'units.field.unit_type' | translate }}" formControlName="unit_type_id">
                    <mat-option *ngFor="let unitType of unitTypes$ | async" [value]="unitType.id">
                        {{unitType.unit_type_display_name}}
                    </mat-option>
                </mat-select>
                <mat-error align="start" *ngIf="formErrors?.unit_type_id" class="form__error">{{ formErrors.unit_type_id }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="selectedUnitType=='residential'">

        <div class="col-sm-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'units.field.bed_rooms' | translate }}</mat-label>
                <input matInput type="number" min="0" formControlName="bed_rooms" placeholder="{{ 'units.field.bed_rooms' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.bed_rooms" class="form__error">{{ formErrors.bed_rooms }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'units.field.bath_rooms' | translate }}</mat-label>
                <input matInput type="number" min="0" formControlName="bath_rooms" placeholder="{{ 'units.field.bath_rooms' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.bath_rooms" class="form__error">{{ formErrors.bath_rooms }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'units.field.total_rooms' | translate }}</mat-label>
                <input matInput type="number" min="0" formControlName="total_rooms" placeholder="{{ 'units.field.total_rooms' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.total_rooms" class="form__error">{{ formErrors.total_rooms }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'units.field.square_foot' | translate }}</mat-label>
                <input matInput type="number" min="0" formControlName="square_foot" placeholder="{{ 'units.field.square_foot' | translate }}">
                <mat-error align="start" *ngIf="formErrors?.square_foot" class="form__error">{{ formErrors.square_foot }}</mat-error>
            </mat-form-field>
        </div>
    </div>

</mat-dialog-content>

<div class="d-flex justify-content-center spinner-container" *ngIf="loader">
    <mat-progress-bar
            color="primary"
            mode="query"
            value=50
            bufferValue=75>
    </mat-progress-bar>
</div>

<mat-dialog-actions align="center">
    <ng-container *ngIf="isAdmin$ | async">
        <button class="float-left mr-2" *ngIf="!isAdd" [disabled]="loader" mat-button color="warn" [mat-dialog-close]="true"
                (click)="deleting()">{{ 'delete' | translate }}
        </button>
    </ng-container>

    <button [disabled]="loader" mat-button class="mr-2" color="primary" [mat-dialog-close]="true" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="createOrUpdate()" [disabled]="!form.valid || loader">
        {{ 'units.field.save_unit' | translate }}
    </button>
</mat-dialog-actions>
</form>
