<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.first_name' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.first_name' | translate}}" disabled value="{{(landlord$|async)?.first_name}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.middle_name' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.middle_name' | translate}}" disabled value="{{(landlord$|async)?.middle_name}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.last_name' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.last_name' | translate}}" disabled value="{{(landlord$|async)?.last_name}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.phone' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.phone' | translate}}" disabled value="{{(landlord$|async)?.phone}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.email' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.email' | translate}}" disabled value="{{(landlord$|async)?.email}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.registration_date' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.registration_date' | translate}}" disabled value="{{(landlord$|async)?.registration_date_display}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.country' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.country' | translate}}" disabled value="{{(landlord$|async)?.country}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.national_id_or_passport' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.national_id_or_passport' | translate}}" disabled value="{{(landlord$|async)?.id_number}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.state' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.state' | translate}}" disabled value="{{(landlord$|async)?.state}}">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.city' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.city' | translate}}" disabled value="{{(landlord$|async)?.city}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.postal_address' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.postal_address' | translate}}" disabled value="{{(landlord$|async)?.postal_address}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.physical_address' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.physical_address' | translate}}" disabled value="{{(landlord$|async)?.physical_address}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="full-width" color="primary" appearance="legacy">
                            <mat-label>{{'landlords.field.residential_address' | translate}}</mat-label>
                            <input matInput placeholder="{{'landlords.field.residential_address' | translate}}" disabled value="{{(landlord$|async)?.residential_address}}">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
