<mat-dialog-content class="mat-dialog-data" style="min-width: 40%">

    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width {{payment.status?.status_class}}" color="primary" appearance="outline">
                <input matInput placeholder="Status" disabled
                       value=" {{payment.status?.status_text}}">
                <span matPrefix><mat-icon>{{payment.status?.status_icon}}</mat-icon></span>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.amount' | translate }}</mat-label>
                <input matInput placeholder="{{ 'payment.fields.amount' | translate }}" disabled
                       value="{{payment?.amount}}">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.paid_on' | translate }}</mat-label>
                <input matInput placeholder="{{ 'payment.fields.paid_on' | translate }}" disabled
                       value="{{payment?.payment_date}}">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.payment_method' | translate }}</mat-label>
                <input matInput placeholder="{{ 'payment.fields.payment_method' | translate }}" disabled
                       value="{{payment?.payment_method?.display_name}}">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.tenant' | translate }}</mat-label>
                <input matInput placeholder="{{ 'payment.fields.tenant' | translate }}" disabled
                       value="{{payment?.tenant?.first_name}} {{payment?.tenant?.middle_name}} {{payment?.tenant?.last_name}}">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.recorded_by' | translate }}</mat-label>
                <input matInput placeholder="{{ 'payment.fields.recorded_by' | translate }}" disabled
                       value="{{payment?.tenant?.first_name}}">
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="payment?.notes">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.extra_notes' | translate }}</mat-label>
                <textarea matInput placeholder="{{ 'payment.fields.extra_notes' | translate }}" disabled maxlength="150"
                          rows="1" value="{{payment?.notes}}"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="payment?.is_cancelled">
        <div class="col-12">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.cancelled_by' | translate }}</mat-label>
                <input matInput placeholder="{{ 'payment.fields.cancelled_by' | translate }}" disabled
                       value="{{payment?.cancel_user?.first_name}} {{payment?.cancel_user?.last_name}}">
            </mat-form-field>
        </div>
    </div>
    <div class="row" *ngIf="payment?.is_cancelled">
        <div class="col-12">
            <mat-form-field class="full-width" color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.cancel_notes' | translate }}</mat-label>
                <textarea matInput placeholder="{{ 'payment.fields.cancel_notes' | translate }}" disabled maxlength="150" rows="1"
                          value="{{payment?.cancel_notes}}"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="payment?.is_approved">
        <div class="col-12">
            <mat-form-field color="primary" appearance="outline">
                <mat-label>{{ 'payment.fields.approved_by' | translate }}</mat-label>
                <input matInput placeholder="{{ 'payment.fields.approved_by' | translate }}" disabled
                       value="{{payment?.approve_user?.first_name}} {{payment?.approve_user?.last_name}}">
            </mat-form-field>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="center" *ngIf="isStandAlone">
    <button mat-button class="mat-raised-button" [mat-dialog-close]="true">
        {{ 'close' | translate }}
    </button>
</mat-dialog-actions>
