<div class="main-content">
    <div class="container-fluid" *ngIf="landlord$ | async as landlord">
        <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">Tenant Profile</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">

                            <nav mat-tab-nav-bar>

                                <a mat-tab-link routerLinkActive #general="routerLinkActive" [active]="general.isActive" [routerLinkActiveOptions]="{exact: true}"
                                   routerLink="/landlords/{{id}}">
                                    <span class="nav-text">  Info </span></a>

                                <a mat-tab-link routerLinkActive #properties="routerLinkActive" [active]="properties.isActive" [routerLink]="['properties']">
                                    <span class="nav-text">   Properties </span></a>

                                <a mat-tab-link routerLinkActive #documents="routerLinkActive" [active]="documents.isActive" [routerLink]="['documents']">
                                    <span class="nav-text">  Documents </span></a>
                            </nav>

                            <router-outlet></router-outlet>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-lift--hover shadow border-0 card-profile">
                        <div class="front">
                            <div class="cover">
                                <img class="img" src="../../assets/img/images/rotating_card_thumb3.png"/>
                            </div>
                            <div class="card-avatar">
                                <img [src]="landlord.profile_pic"/>
                                <!--<img class="img" src="../../../assets/img/images/2.jpg"/>-->

                            </div>


                            <div class="content">
                                <div class="main">
                                    <h3 class="name">
                                        {{landlord.first_name}} {{landlord.last_name}}
                                    </h3>
                                    <p class="profession">
                                        <button mat-stroked-button disabled>
                                            <mat-icon color="accent">phone</mat-icon>
                                            <span>{{landlord?.phone}}</span>
                                        </button>
                                    </p>
                                    <div class="stats-container">
                                        <div class="property-stats">
                                            <p>
                                                <button mat-icon-button (click)="logoFileInput.click()">
                                                    <i class="material-icons">attachment</i>photo
                                                </button>
                                            </p>
                                        </div>
                                        <div class="property-stats">
                                            <p>
                                                <button mat-icon-button (click)="addDialog('edit', landlord)">
                                                    <i class="material-icons">edit</i>edit
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                    </div>



                        <div class="card">
                            <div class="card-header card-header-info">
                                <h4 class="card-title">Summary</h4>
                                <p class="card-category"></p>
                            </div>
                            <div class="card-body">
                                <div class="card-category text-gray"> Properties: 10</div>
                                <div class="card-category text-gray"> Units: 320</div>
                                <div class="card-category text-gray"> Charge rate: 10%</div>
                            </div>
                        </div>



                 <!--   <div class="card card-profile">
                        <div class="card-profile">
                            <div class="card-avatar" *ngIf="imageToShow">
                                <img [src]="imageToShow" alt="Profile Picture">
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-gray">{{memberData?.first_name}} {{memberData?.middle_name}} {{memberData?.last_name}}</h6>
                            <h4 class="card-title"> A/C #. {{memberData?.account?.account_number}}</h4>
                            <div class="card-description">
                                <div>Phone: {{memberData?.phone}}</div>
                                <div>Email: {{memberData?.email}}</div>
                                Branch: {{memberData?.branch?.name}}
                            </div>
                            Joined: {{memberData?.date_became_member_display}}
                        </div>
                    </div>-->
                </div>
        </div>
    </div>
</div>
